In [1]:
import psycopg2
import datetime
import numpy as np
import pandas as pd
from itertools import islice

import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

## Moving averages

In [11]:
query = """
    select *
    from validation.benchmark
    order by market_datetime
    """

df = utils.query_db(db_connection=utils.DW_STOCKS_JUPYTER, query=query)
df.head()

,symbol,market_datetime,open,high,low,close,volume,high_52,low_52,dividend_amount,pe_ratio,quick_ratio,current_ratio
0,BA,1999-09-20 05:00:00,43.6250,43.6250,42.7500,42.8750,2683500.0,None,None,None,None,None,None
1,BA,1999-09-21 05:00:00,42.8750,43.1250,42.5625,42.7500,2523000.0,None,None,None,None,None,None
2,BA,1999-09-22 05:00:00,42.8750,43.9375,42.8750,43.5000,2453900.0,None,None,None,None,None,None
3,BA,1999-09-23 05:00:00,43.5000,43.5000,42.5625,42.7500,2721300.0,None,None,None,None,None,None
4,BA,1999-09-24 05:00:00,42.5625,42.5625,41.0625,42.0625,3349900.0,None,None,None,None,None,None