In [5]:
import psycopg2
import datetime
import numpy as np
import pandas as pd

import tensorflow as tf

/home/nautilus/anaconda3/envs/babylon/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [3]:
register_matplotlib_converters()

%matplotlib notebook
# %matplotlib inline

### Stock data

In [4]:
query = """
    select
        e.symbol
        , e.market_datetime
        , e.open
        , e.high
        , e.low
        , e.close
        , e.volume
        , f.high_52
        , f.low_52
        , f.dividend_amount
        , f.pe_ratio
        , f.quick_ratio
        , f.current_ratio
    from td.equities as e
    left join td.fundamentals as f 
        on f.symbol = e.symbol
    where e.symbol = 'BA'
    order by e.market_datetime
    """

df = utils.query_db(db_connection=utils.DW_STOCKS_JUPYTER, query=query)
df.head()

,symbol,market_datetime,open,high,low,close,volume,high_52,low_52,dividend_amount,pe_ratio,quick_ratio,current_ratio
0,BA,1999-09-20 05:00:00,43.6250,43.6250,42.7500,42.8750,2683500.0,None,None,None,None,None,None
1,BA,1999-09-21 05:00:00,42.8750,43.1250,42.5625,42.7500,2523000.0,None,None,None,None,None,None
2,BA,1999-09-22 05:00:00,42.8750,43.9375,42.8750,43.5000,2453900.0,None,None,None,None,None,None
3,BA,1999-09-23 05:00:00,43.5000,43.5000,42.5625,42.7500,2721300.0,None,None,None,None,None,None
4,BA,1999-09-24 05:00:00,42.5625,42.5625,41.0625,42.0625,3349900.0,None,None,None,None,None,None

In [7]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 5388960514133350911
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 10972997223
locality {
  bus_id: 1
}
incarnation: 630543569735705254
physical_device_desc: "device: 0, name: GeForce GTX 1080 Ti, pci bus id: 0000:03:00.0, compute capability: 6.1"
, name: "/device:GPU:1"
device_type: "GPU"
memory_limit: 9857250100
locality {
  bus_id: 1
}
incarnation: 2429531992357841724
physical_device_desc: "device: 1, name: GeForce GTX 1080 Ti, pci bus id: 0000:04:00.0, compute capability: 6.1"
]

In [8]:
tf.debugging.set_log_device_placement(True)

# Create some tensors
a = tf.constant([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
b = tf.constant([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]])
c = tf.matmul(a, b)

print(c)

AttributeError: module 'tensorflow' has no attribute 'debugging'